/* ~~ CONSTANTS, COLORS ~~ */

* {
	_bg-color: #222;
	
	_neon-green: #0f7;
	_dark-neon-green: derive(_neon-green, -25%);
	_darker-neon-green: derive(_neon-green, -50%);
	
	_neon-blue: #0bf;
	_dark-neon-blue: derive(_neon-blue, -25%);
	_darker-neon-blue: derive(_neon-blue, -50%);
	
	_yellow: #fd0;
	_dark-yellow: #c90;
	
	_neon-purple: #d0f;
	_dark-neon-purple: #a0c;
}

/* ~~ STYLING ~~ */

.root {
	-fx-background: _bg-color;
}

.text-field,
.button {
	-fx-background-color: transparent;
	-fx-border-width: 1.0px;
	-fx-border-color: white;
	-fx-text-fill: white;
	-fx-border-radius: 0.0;
	-fx-background-radius: 0.0;
	-fx-background-insets: 0;
}
.button:hover {
	-fx-background-color: linear-gradient(to bottom right, _dark-yellow, _dark-neon-purple);
}
.button:hover:pressed {
	-fx-background-color: white;
	-fx-text-fill: _bg-color;
}
.button.dynamic,
.button.dynamic {
	-fx-border-radius: 100.0%;
	-fx-background-radius: 100.0%;
}
.button.start {
	-fx-text-fill: _neon-green;
	-fx-border-color: _neon-green;
}
.button.start:hover {
	-fx-background-color: linear-gradient(to bottom right, _darker-neon-blue, _darker-neon-green);
}
.button.start:hover:pressed {
	-fx-background-color: _neon-green;
	-fx-text-fill: _bg-color;
}
