/* ~~ CONSTANTS, COLORS ~~ */

* {
	_gray-0: derive(black, 0);
	_gray-1: derive(black, 20%);
	_gray-2: derive(black, 40%);
	_gray-25: derive(black, 50%);
	_gray-3: derive(black, 60%);
	_gray-4: derive(black, 80%);
	_gray-5: derive(black, 100%);
	_gray-6: derive(black, 120%);
	_gray-7: derive(black, 140%);
	_gray-75: derive(black, 150%);
	_gray-8: derive(black, 160%);
	_gray-9: derive(black, 180%);
	
	_bg-color: _gray-1;
	
	_neon-green: #0f7;
	_dark-neon-green: derive(_neon-green, -25%);
	_darker-neon-green: derive(_neon-green, -50%);
	
	_neon-blue: #0bf;
	_dark-neon-blue: derive(_neon-blue, -25%);
	_darker-neon-blue: derive(_neon-blue, -50%);
	
	_yellow: #fd0;
	_dark-yellow: derive(_yellow, -25%);
	_darker-yellow: derive(_yellow, -50%);
	
	_gold: #fc0;
	_dark-gold: derive(_gold, -25%);
	_darker-gold: derive(_gold, -50%);
	
	_rose: #f7b;
	_dark-rose: derive(_rose, -25%);
	_darker-rose: derive(_rose, -50%);
	
	_neon-purple: #e0f;
	_dark-neon-purple: derive(_neon-purple, -25%);
	_darker-neon-purple: derive(_neon-purple, -50%);
	
	_neon-red: #f35;
}

/* ~~ STYLING ~~ */

.root {
	-fx-background: _bg-color;
	-fx-font-size: 14px;
}

.text-field,
.button {
	-fx-background-color: transparent;
	-fx-border-width: 1px;
	-fx-border-color: white;
	-fx-text-fill: white;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}
.button:hover {
	_gradient-a: ladder(_gray-0, _dark-gold, _dark-rose);
	_gradient-b: ladder(_gray-25, _dark-gold, _dark-rose);
	_gradient-c: ladder(_gray-5, _dark-gold, _dark-rose);
	_gradient-d: ladder(_gray-75, _dark-gold, _dark-rose);
	_gradient-e: ladder(white, _dark-gold, _dark-rose);
	/* -fx-background-color: linear-gradient(to bottom right,
							_gradient-a 0%, _gradient-a 20%,
							_gradient-b 20%, _gradient-b 40%,
							_gradient-c 40%, _gradient-c 60%,
							_gradient-d 60%, _gradient-d 80%,
							_gradient-e 80%, _gradient-e 100%
							); */
	-fx-background-color: linear-gradient(to bottom right, _dark-gold, _dark-rose);
}
.button:hover:pressed {
	-fx-background-color: white;
	-fx-text-fill: _bg-color;
}
.button.dynamic,
.button.dynamic {
	-fx-border-radius: 100%;
	-fx-background-radius: 100%;
}
.button.start {
	-fx-text-fill: _neon-green;
	-fx-border-color: _neon-green;
	-fx-font-size: 20px;
}
.button.start:hover {
	-fx-background-color: linear-gradient(to bottom right, _darker-neon-blue, _darker-neon-purple);
}
.button.start:hover:pressed {
	-fx-background-color: _neon-green;
	-fx-text-fill: _bg-color;
}

.text-field.invalid {
	-fx-border-color: _neon-red;
}

.label.title {
	-fx-font-size: 120%;
	-fx-text-fill: _gray-9;
}
